<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>458184320515-8icm90fro1d58uvh9ejobn2tkerpbn20.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.458184320515-8icm90fro1d58uvh9ejobn2tkerpbn20</string>
	<key>API_KEY</key>
	<string>AIzaSyA84BzwAQ9Sk12tiHwl4Ant3kHHwxnwZXI</string>
	<key>GCM_SENDER_ID</key>
	<string>458184320515</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ipleiria.SmartDoorBellApp</string>
	<key>PROJECT_ID</key>
	<string>smartdoorbell-cb6bc</string>
	<key>STORAGE_BUCKET</key>
	<string>smartdoorbell-cb6bc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:458184320515:ios:0d8a47d804e94de8ee9036</string>
	<key>DATABASE_URL</key>
	<string>https://smartdoorbell-cb6bc-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>